/*color pallets and typography 
font-family: 'Bree Serif', serif;
primary color: #F29705
secondary color: #CC1481

*/

/*Universal*/

body {
   background: linear-gradient(90deg, #004FF9 10%, #FFF94C 90%); 
    font-family: 'Bree Serif', serif;
}

/*Images*/

img {
    width: 70%;
    max-width: 100%;
}

/*Typography*/

footer p {
    text-align: center;
}

h1, h2{
    color: #CC1481
}

p, blockquote {
    color: #F29705
}