/*color pallets and typography 
font-family: 'Bree Serif', serif;
primary color: red
secondary color: yellow

*/

/*Universal*/

body {
   background-color: blue;
   font-family: 'Anton', sans-serif;
}

/*Images*/

img {
    width: 70%;
    max-width: 100%;
}

/*Typography*/

footer p {
    text-align: center;
}

h1, h2{
    color: yellow;
}

p, blockquote {
    color: red
}

/*Nav*/

nav li{
    display: inline;
}


a:link {
    color: yellow;
}